<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
    <title>大正堂SAMPLE</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <script src="https://unpkg.com/vue@next"></script>
    <script src="js/script.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/script.js" defer></script>
</head>
<body>




<section class="section mainMenu">
  <div class="">
    部署名など
  </div>

    <div id="tab">
      <ul class="mainMenu__tab">
        <li v-on:click="change('1')" v-bind:class="{'active': isActive === '1'}">見積り作成</li>
        <li v-on:click="change('2')" v-bind:class="{'active': isActive === '2'}">契約伝票発行</li>
        <li v-on:click="change('3')" v-bind:class="{'active': isActive === '3'}">発注・仕入処理</li>
        <li v-on:click="change('4')" v-bind:class="{'active': isActive === '4'}">アフター請求・入金処理</li>
        <li v-on:click="change('5')" v-bind:class="{'active': isActive === '5'}">システム設定</li>
      </ul>
      <ul class="mainMenu__tabContent">
        <li v-if="isActive === '1'" class="">
          <div class="mainMenu__buttonWrap">
            <ul>
              <li><a href="#">お客様登録 / ご相談カード</a></li>
              <li><a href="#">見積書 一覧</a></li>
              <li><a href="#">相談カード 一覧</a></li>
              <li><a href="#">変更見積書 一覧</a></li>
            </ul>
          </div>
        </li>
        <li v-else-if="isActive === '2'" class="">
          <div class="mainMenu__buttonWrap">
            <ul>
              <li><a href="#">請負契約書</a></li>
              <li><a href="#">簡易契約書</a></li>
              <li><a href="#">変更契約書</a></li>
              <li><a href="#">契約書一覧</a></li>
            </ul>
          </div>
        </li>
        <li v-else-if="isActive === '3'" class="">
          <div class="mainMenu__buttonWrap">
            <ul>
              <li><a href="#">発注書</a></li>
              <li><a href="#">発注書一覧 → 仕入</a></li>
              <li><a href="#">発注書一覧 → 物件予実</a></li>
              <li><a href="#">発注書一覧</a></li>
            </ul>
          </div>
        </li>
        <li v-else-if="isActive === '4'" class="">
          <div class="mainMenu__buttonWrap">
            <ul>
              <li><a href="#">アフター伝票</a></li>
              <li><a href="#">請求書</a></li>
              <li><a href="#">銀行振込・掛入金入力</a></li>
              <li><a href="#">掛入金一覧</a></li>
            </ul>
          </div>
        </li>
        <li v-else-if="isActive === '5'" class="">
          <div class="mainMenu__buttonWrap">
            <ul>
              <li><a href="#">工事区分登録</a></li>
              <li><a href="#">工事明細区分登録</a></li>
              <li><a href="#">発注先登録</a></li>
              <li><a href="#">見積書メンテナンス</a></li>
              <li><a href="#">契約 / 発注書メンテナンス</a></li>
              <li><a href="#">銀行口座名登録</a></li>
          </div>
        </li>
      </ul>
    </div>
</section>

</body>
</html>