html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f1f1f1;
  height: 100%;
  position: relative;
}

p, a, span, li {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  p {
    /* `mq()` */
    font-size: 3.5vw;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.login {
  background-color: #ffffff;
  width: 300px;
  border: 1px solid #333;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  margin: auto;
}

.login input {
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 24px;
  width: 96%;
  min-height: 40px;
  margin-bottom: 15px;
  padding: 0 2%;
}

.login__buttonWrap {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login__buttonWrap button {
  width: 47%;
  display: block;
  border: 1px solid #333;
  border-radius: 5px;
  min-height: 40px;
}

.login__buttonWrap .submit {
  background-color: blue;
}

.login__buttonWrap .close {
  background-color: rosybrown;
}

.mainMenu {
  background-color: #ffffff;
  width: 800px;
  border: 1px solid #333;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  margin: auto;
}

.mainMenu__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.mainMenu__tab li {
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px 0px;
}

.mainMenu__tab li:last-child {
  border-right: 1px solid #333;
}

.mainMenu__tab li.active {
  background-color: #ccc;
}

.mainMenu__buttonWrap {
  margin-top: 15px;
}

.mainMenu__buttonWrap li {
  margin-bottom: 15px;
}

.mainMenu__buttonWrap li:last-child {
  margin-bottom: 0px;
}

.mainMenu__buttonWrap a {
  width: 96%;
  display: block;
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px 0px;
  text-align: center;
}

.mainMenu__buttonWrap a:hover {
  background-color: #ccc;
}
/*# sourceMappingURL=style.css.map */