@charset "utf-8";
html{
    height: 100%;
    width: 100%;
}

body{
    background-color: #f1f1f1;
    height: 100%;
    position: relative;
}

p,a,span,li{
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

p{
    @media screen and (max-width: 768px) { /* `mq()` */
        font-size: 3.5vw;
    }
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.login{
    background-color: #ffffff;
    width: 300px;
    border:1px solid #333;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: auto;

    input{
        border: 1px solid #333;
        border-radius: 5px;
        font-size: 24px;
        width: 96%;
        min-height: 40px;
        margin-bottom: 15px;
        padding: 0 2%;
    }
    &__buttonWrap{
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        button{
            width: 47%;
            display: block;
            border: 1px solid #333;
            border-radius: 5px;
            min-height: 40px;
        }
        .submit{
            background-color: blue;
        }
        .close{
            background-color: rosybrown;
        }
    }
}




.mainMenu{
    background-color: #ffffff;
    width: 800px;
    border:1px solid #333;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: auto;

    &__tab{
        display: flex;
        justify-content: stretch;
        li{
            border-top: 1px solid #333;
            border-left: 1px solid #333;
            border-bottom: 1px solid #333;
            text-align: center;
            flex-grow: 1;
            padding: 10px 0px;
            &:last-child{
                border-right: 1px solid #333;
            }
            &.active{
                background-color:#ccc;
            }
        }
    }

    &__tabContent{

    }



    &__buttonWrap{
        margin-top: 15px;
        li{
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0px;
            }
        }
        a{
            width: 96%;
            display: block;
            margin: 0 auto;
            border: 1px solid #333;
            border-radius: 5px;
            padding: 10px 0px;
            text-align: center;
            &:hover{
                background-color: #ccc;
            }
        }
    }
}